<div class="container">
  <div class="row">
  <h2>商品一覧</h2>
  </div>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
    </tr>
  </thead>
<% @items.each do |item| %>
  <tbody>
    <tr>
      <td class="text-center"><%= item.id %></td>
      <td class="text-center"><%= link_to item.name, admin_item_path(item.id) %></td>
      <td class="text-center"><%= item.price %></td>
      <td class="text-center"><%= item.genre.name %></td>
    </tr>
  </tbody>
  <% end %>
</table>  <%# end-table　でないと変になる %>
